#main.container
%h1.header Recipe  Hello Foodies! (Homepage)

- if current_user
 %h2= link_to "Sign out", destroy_user_session_path, method: :delete
- else
 %h2= link_to "Login", new_user_session_path


%table.table
 %thead
  %tr
   %th Recipe Name
   %th Meal type 
 %tbody
  -@recipes.each do |r|
   %tr 
<<<<<<< HEAD
    %td= link_to r.recipe_name, recipe_path(r)
=======
    %td= link_to "#{r.recipe_name}", recipe_path(r)
>>>>>>> 100f7c47bba007d498895a6b5a9f96281da6b969
    %td= "#{r.meal_type}"

= link_to "Create a new recipe", new_recipe_path
