#main.container
%h1.header Show page
.row
    #{@recipe.recipe_name}
.row
    #{@recipe.meal_type}
.row
    #{@recipe.level}

= link_to "Edit recipe", edit_recipe_path(@recipe)
= link_to "Back to recipe listing", recipes_path
<<<<<<< HEAD
= link_to "Delete recipe", recipe_path(@recipe), :method => :delete
=======
= link_to "Delete recipe", recipe_path(@recipe), :method => :destroy

= link_to "Write a review", new_review_path
>>>>>>> 100f7c47bba007d498895a6b5a9f96281da6b969
