= f.label :recipe_name, "Recipe name"
= f.text_field :recipe_name 
%br

= f.label :cuisine, "Type of cuisine"
= f.text_field :cuisine
%br

= f.label :meal_type, "Type of meal"
= f.select :meal_type, ["Breakfast", "Lunch", "Dinner", "Dessert"]
%br

= f.check_box(:vegetarian)
= f.label :vegetarian, "This recipe is vegetarian"
%br
= f.check_box(:vegan)
= f.label :vegan, "This recipe is vegan"
%br
= f.check_box(:nut_free)
= f.label :nut_free, "This recipe is nut free"
%br
= f.check_box(:dairy_free)
= f.label :dairy_free, "This recipe is dairy free"
%br

= f.label :time_to_create, "Time to create, in minutes"
= f.number_field :time_to_create
%br

= f.label :appliance, "Any special appliances needed"
= f.text_field :appliance
%br

= f.label :ingredients, "Ingredients required"
= f.text_area :ingredients
%br

= f.label :instructions, "Instructions"
= f.text_area :instructions
%br

= f.label :level, "Level of difficulty"
= f.select :level, ["Easy", "Medium", "Hard"]
%br
