#main.container
	%h3.header Edit a Recipe

	= form_for @recipe, :method => :put do |f|
		= render "recipe_form", f: f

		= f.label :image, "Picture of the recipe"
		= f.file_field :image, :required => true, accept: "image/png,image/gif,image/jpeg"
		%br

		.button= f.submit "Save Changes"
		%li= link_to "Back to recipe details", recipe_path(@recipe)
