#main.container
	%h3.header Add a New Recipe

	= form_for @recipe, :method => :post do |f|
		= render  "recipe_form", f: f

		= f.label :image, "Picture of the recipe"
		= f.file_field :image, :required => true
		%br

		= f.submit "Create a new recipe"

		%li= link_to "Back to recipes listing", recipes_path
