#main.container

    %h1.header= "Chef Details for #{@user.username}"
    %h3.header= "Name: #{@user.first} #{@user.last}"
    %h3.header= "Email address: #{@user.email}"

    -if @chefstatus == 1
        %h3= "#{@user==current_user ? "Congratulations! You have" : "#{@user.username} has"} recieved star chef status by getting great reviews!"
        =image_tag("starchef.jpg",size: "100x100")
    -else
        %h3= "#{@user==current_user ? "You have" : "#{@user.username} has"} not yet recieved star chef status yet."
    .row

    -if !@user.image.attached?
        %h4=image_tag("default_user.jpg",size: "100x100")
    -else
        %h4=image_tag(@user.image.variant(resize: "100x100^"))

    .row

    %h2.fav_recipes= "My Favorite Recipes"
    %table.table
        %thead
            %tr
                %th Name
                %th Creator
        %tbody
            -@user.favorite_recipes.each do |r|
                %tr
                    %td.recipe_name= link_to "#{r.recipe_name}", recipe_path(r)
                    %td.creator= User.where("id == ?",r.user_id).first.email

    .row
    %br
    -# %br
    -# = link_to "Back to recipe listing", recipes_path
    .row
    -if (current_user == @user)
        = link_to "Edit your profile picture", edit_user_path(@user)
        %button#funmode Our Clients Wanted This
    %audio{:src=>"/assets/eastereggaudio.mp3"}
