!!! 5
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }
    %title Recipes2
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    #header
      #loginlogout
        - if current_user
          = link_to "Logout", destroy_user_session_path, method: :delete
        - else
          = link_to "Login", new_user_session_path

      /.profilebutton
      - if current_user
        =link_to "Your Profile & Favorite Recipes", current_user

      = link_to "Create a new recipe", new_recipe_path

      =link_to "All Recipes", recipes_path
      -# LOGO EXAMPLE: .logo= image_tag("bedbug.png", :width => 100)


    - if flash[:notice]
      #notice.message= flash[:notice]
    - elsif flash[:warning]
      #warning.message= flash[:warning]
    = yield
